{% extends 'expirations/index.html' %}

{% block content %}
<h1>Add Expiration for:</h1>
<h4>{{drug_name.name}}</h4>
<form id = "add_exp_id" method="POST" class="post-form">
{% csrf_token %}
{{form.as_p}}
<button id = "submit_exp" type="submit" class="btn btn-primary">Save</button>
</form>
<p>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Successfully Added</div>
      <div class="panel-body" id = "success">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  $('#id_expirationDate').datepicker({
        changeMonth: true,
        changeYear: true,
        startView: 2,
        autoclose: true,
        maxDate: "+5y",
        minDate: "-1y",
  });

$(document).ready(function(){
  var frm = $("#add_exp_id")
    frm.submit(function(e){
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "{% url 'add_expiration' pk=drug_name.id %}",
        data: frm.serialize(),
        success: function(data){
            $('#success').append( $("#id_expirationDate").val() + " has been added to {{ drug_name.name }}<br>");
            $('#id_qty').val("1");
        }
      })
    });
})
</script>
{% endblock %}
