{% extends 'expirations/index.html' %}

{% block content %}
<div class = "container">
    <h1>Add A Drug</h1>

    <form id="drug_form_id" method="POST" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <button id = "submit_drug" type="submit" class="btn btn-primary">Save</button>
    </form>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">Successfully Added</div>
          <div class="panel-body" id = "success">
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function(){
  var frm = $("#drug_form_id")
    frm.submit(function(e) {
      e.preventDefault();
      $.ajax({
        type:"POST",
        url: "{% url 'drug_new' %}",
        data: $(this).serialize(),
        success: function(data){
          console.log(data.message)
          $('#success').append( $("#id_name").val() + " has been added to the Drug List<br>");
          $("#drug_form_id").closest('form').find("input[type=text]").val("");
        }
      })
    });
})
</script>
{% endblock %}
